<p class="centered footer"><a href="https://github.com/Llevi94" style="margin-right: 10px;">
    <img src="https://github.com/favicon.ico" alt="GitHub" width="32" height="32">
  </a> Copyright ⓒ <%= year %>
</p>

</body>

</html>